{% extends "auctions/layout.html" %}

{% block title %}
    Listing
{% endblock %}

{% block body %}
<div class="div_listing">
    <figure class="figure">
        {% if al.url_listing_image %}
            <img src="{{ al.url_listing_image }}" width="250" class="figure-img img-fluid rounded" alt="Image">
        {% else %}
            <img src="../../static/auctions/no-image.png" width="250" class="figure-img img-fluid rounded" alt="Image">
        {% endif %}
        <figcaption class="figure-caption text-center">{{ al.listing_title }}</figcaption>
    </figure>

    <p> {{ al.listing_description }} </p>
    <p>Price: ${{ al.bid }}</p>
    <p>Category: {{ al.listing_category }}</p>
    <p>Created {{ al.post_date }}</p>
    {% if user.is_authenticated %}
        {% if user in watchlist %}
            <a class="btn btn-info" href="{% url 'watchlist_remove' al.id user.id %}" role="button">Remove from Watchlist</a>
        {% else %}
            <a class="btn btn-info" href="{% url 'watchlist_add' al.id user.id %}" role="button">Add to Watchlist</a>
        {% endif %}
        {% if al.is_open %}
            <form action="{% url 'place_bid' al.id user.id %}" class="form-inline form_bid" method="POST">
                {% csrf_token %}
                <div class="form-group bid_div">
                    <input type="text" class="form-control col-12" id="bid_input" name="bid" placeholder="Place a bid..." required>
                </div>
                <button type="submit" class="btn btn-info">Submit!</button>
            </form>
            {% if user == al.al_owner %}
                <a class="btn btn-info" href="{% url 'close_auction' al.id %}" role="button">Close Auction</a>
            {% endif %}
        {% elif user == winner_user %}
            <h2>You are the Winner!!!</h2>
        {% endif %}
    {% else %}
        <a class="btn btn-info" href="{% url 'login' %}" role="button">Login to place a bid or add to your watchlist.</a>
    {% endif %}
    
</div>
            
{% endblock %}